<!doctype html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <style>
        #centered1 {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);}
        #centered2 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Climbing Accident Severity Prediciton Model</title>
  </head>

  <body>
    <form action = "http://localhost:5000/model" method = "POST">
        <h1> Check your climbing injury info: </h1>
        
        <div>
        <label for="month" > Month:</label>
        <select name="month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
            </div>
        
        <p> </p>

        <div>
            <label for="experience" >Experience Level:</label>
            <select name="exp">
                <option value="No/Little">No/Little</option>
                <option value="Moderate">Moderate</option>
                <option value="Experienced">Experienced</option>
                <option value="Unknown">Unknown</option>
            </select>
            </div>
        <fieldset>
            <legend>Climbing Type</legend>
            <div>
                <label >Descent</label> <input type="checkbox" name="ct" value='Descent'> 
                <label >Roped</label> <input type="checkbox" name="ct" value='Roped'> 
                <label >Trad Climbing</label><input type="checkbox" name="ct" value='Trad Climbing'> 
                <label >Sport</label><input type="checkbox" name="ct" value='Sport'> 
                <label >Top-Rope</label><input type="checkbox" name="ct" value='Top-Rope'> 
                <label >Aid/Big Wall</label><input type="checkbox" name="ct" value='Aid & Big Wall Climbing'> 
                <label >Pendulum</label><input type="checkbox" name="ct" value='Pendulum'> 
                <label >Unroped</label><input type="checkbox" name="ct" value='Unroped'> 
                <label >Solo</label><input type="checkbox" name="ct" value='Solo'> 
                <label >Climbing Alone</label><input type="checkbox" name="ct" value='Climbing Alone'> 
                <label >Bouldering</label><input type="checkbox" name="ct" value='Bouldering'> 
                <label >Non-climbing</label><input type="checkbox" name="ct" value='Non-climbing'>
                <label >Alpine/Mountaineering</label><input type="checkbox" name="ct" value='Alpine/Mountaineering'>
            </div>  
        </fieldset>
        
        <fieldset>
            <legend>(Optional)Alpine/Ice Climbing Factors</legend>
            <div>
                <label >Piton/Ice Screw'</label> <input type="checkbox" name="ai" value='Piton/Ice Screw'> 
                <label >Ascent Illness</label> <input type="checkbox" name="ai" value='Ascent Illness'> 
                <label >Crampon Issues</label> <input type="checkbox" name="ai" value='Crampon Issues'> 
                <label >Ice Climbing</label> <input type="checkbox" name="ai" value='Ice Climbing'> 
                <label >Glissading</label> <input type="checkbox" name="ai" value='Glissading'> 
                <label >Ski-related</label> <input type="checkbox" name="ai" value='Ski-related'> 
                <label >Poor Position</label> <input type="checkbox" name="ai" value='Poor Position'> 
            </div>  
        </fieldset>

        <fieldset>
            <legend>Natural Factors</legend>
            <div>
                <label >Poor Cond/Seasonal Risk</label> <input type="checkbox" name="ai" value='Poor Cond/Seasonal Risk'> 
                <label >Avalanche</label> <input type="checkbox" name="ai" value='Avalanche'> 
                <label >Cornice / Snow Bridge Collapse</label> <input type="checkbox" name="ai" value='Cornice / Snow Bridge Collapse'> 
                <label >Bergschrund</label> <input type="checkbox" name="ai" value='Bergschrund'> 
                <label >Crevasse / Moat / Berschrund</label> <input type="checkbox" name="ai" value='Crevasse / Moat / Berschrund'> 
                <label >Icefall / Serac / Ice Avalanche</label> <input type="checkbox" name="ai" value='Icefall / Serac / Ice Avalanche'> 
                <label >Exposure</label> <input type="checkbox" name="ai" value='Exposure'> 
                <label >Non-Ascent Illness</label> <input type="checkbox" name="ai" value='Non-Ascent Illness'> 
                <label >Visibility</label> <input type="checkbox" name="ai" value='Visibility'> 
                <label >Severe Weather</label> <input type="checkbox" name="ai" value='Severe Weather'> 
                <label >Wildlife</label> <input type="checkbox" name="ai" value='Wildlife'> 
                <label >Natural Rockfall</label> <input type="checkbox" name="ai" value='Natural Rockfall'> 
            </div>  
        </fieldset>
        <p> </p>
        <p><input type = "submit" value = "Submit the questionnaire." /></p>
    
    </form>  
  </body>
</html>
